@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --text: 12 18 19;
    --background: 241 248 249;
    --primary: 60 173 195;
    --secondary: 139 219 233;
    --accent: 71 212 240;
  }

  .dark {
    --text: 236 242 243;
    --background: 6 13 14;
    --primary: 60 173 195;
    --secondary: 22 102 116;
    --accent: 15 156 184;
  }
}